
 body {
    margin:25px;
    padding:0;

    background-color: white;
    
  }
  .logo1{
    float: left;
  }
  .logo2{
    float: right;
  }
  .nav1{
    height: 60px;
    width: 100%;
    background-color:whitesmoke;
    margin-top: 5px;
    }

    .figure{
      margin: 9px;
      padding: 5px;
      background-color: pink;
      border-style: solid;
    }
    .d5{
      display: block;
      text-align: center;
      
    }
    .d5 a{
      padding: 14px 16px;
      font-size: 20px;
      
    }
    .intro{
      font-family:Georgia, 'Times New Roman', Times, serif; 
      font-size: 18px; 
      color:lightslategray;
    }
   